* {
    padding:0;
    margin:0;
}

body {
    background-color: rgb(0,0,0);
    font-family: 'Alfa Slab One', cursive;

}

/*title of page*/
.headtitle {
    text-align: center;
    background: rgb(0,0,0);
    color: rgb(169,169,169);
    padding: 0px;
}

.headtitle h1 {
    animation: bounceIn 2s;
    font-size: 50px;
}

#logo {
    height: 60px;
    width:  170px;
    margin:0px -35px 0px -35px;
    vertical-align: middle;
}

/* top navbar */
.topnav {
    background: #000;
    box-sizing: border-box;
    padding: 12px 0px 12px 0px;
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 30px;
    border: 2px solid #fff;
}

navbar a {
    text-decoration: none;
    border: 2px solid #000;
    padding: 10px 20px 10px 20px;
    background-color: rgb(0,0,0);
    color: white;
    margin: 0px 5px 0px 5px;
    border-radius: 20px;
    font-weight: bold;
}

navbar a span {
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

navbar a:hover {
    background-color: rgb(255,255,255);
    color: rgb(0,0,0);
    font-weight: bold;
}


/*left navbar */
.leftnav {
    position: fixed;
    z-index: 1;
    left: -8.25em;
    display:flexbox;
    height: 400px;
    background-color:rgb(39, 38, 38, 1);
    color: #fff;
    border-radius: 30px;
    border: 2px solid #fff;
    width: 200px;
}
.leftnav button {
    padding: 5px;
    margin: 5px;
}

.leftnav a img {
    width: 75px;
    height: 75px;
}

.leftnav span {
    margin-right:0px;
    font-size: 30px;
}

.leftnav:hover {
    left:0;
    transition: left 300ms linear 0.1s;
}

.leftnav .hover-content{
    margin-right: 3em;
}

#invertcolors {
    background:none;
}

/*right navbar*/
.rightnav {
    position: fixed;
    z-index: 1;
    right: -8.25em;
    display: flexbox;
    height: 400px;
    background-color: rgb(39,38,38,1);
    color: #fff;
    border-radius: 30px;
    border: 2px solid #fff;
    width: 200px;
}

.rightnav:hover {
    right:0;
    transition: right 300ms linear 0.1s;
}

.rightnav .hover-content {
    margin-left: 3em;
    text-align: right;
}

/*avatar section */

.avatar {
    font-family: 'Material Icons';
    background-size: cover;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

#devvoice {
    text-align: center;
}

/* blog section */

#personicon {
    background-size: cover;
    height:30px;
    width:30px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.blogstyle {
    text-align: left;
    padding: 5px;
    align-items: center;
    color: #fff;
}

.blogstyle li {
    list-style: none;
    padding: 5px 0px 5px 0px;
    background-color: #000;
    margin: 5px 0px 5px 0px;
    border: 2px solid #fff;
    border-radius: 20px;
}

.blogstyle form {
    text-align: center;

}

.blogstyle input {
    padding: 5px 30px 5px 30px;
    border-radius: 20px;
}


.dcblog {
    padding:10px 50px;
    background: rgb(128,128,128, 0.5);
    height: 100%;
    margin-top: 20px;
    margin-right: 200px;
    margin-left: 200px;
    border: 2px solid #fff;
    border-radius: 30px;
}

/*weather etc..*/

#extcontent {
    display: inline-block;
    align-items: center;
    width:100%;
    margin-top: 100px;
}

.content1 {
    background-color:#000;
    width: 200px;
    border: 15px solid white;
    padding: 5px;
    margin: 100px 20px 20px 100px;
    color:white;
}

.content2 {
    background-color:#000;
    width: 200px;
    border: 15px solid white;
    padding: 5px;
    margin: 100px 20px 20px 100px;
    color:white;
}

/* bottom navbar */

.bottomnav {
    background-color: rgb(0,0,0);
    box-sizing: border-box;
    padding: 12px 0px 12px 0px;
    position:fixed;
    bottom: 0;
    width: 100%;
    z-index: 2;
    border: 2px solid #fff;
    text-align: center;
    border-radius: 30px;
}

.bottomnav a {
    text-decoration: none;
    border: 1px solid #000;
    padding: 10px 20px 10px 20px;
    background-color: #000;
    color: white;
    margin: 0px 5px 0px 5px;
    border-radius: 20px;
}

.socialmedlogo {
    height:30px;
    width: 30px;
    vertical-align: middle;
}

.socialmedlogo:hover {
    background-color: null;
}


.bottomnav a:hover {
    background-color: rgb(255,255,255);
    color: rgb(0,0,0);
    font-weight: bold;
}

@keyframes bounceIn {
    0% {
      transform: scale(0.1);
      opacity: 0;
    }
    60% {
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
  }
