html {
    text-align: center;
}

body{
    display:inline-block;
    background: linear-gradient(90deg, rgb(70, 63, 63),#fff, rgb(70,63,63));
  }
  
.regtitle {
    background: linear-gradient(45deg, aqua, rgb(184,32,151));
    border: 2px solid #000;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 3px 3px #000;
    color: #fff;
    text-shadow: 2px 2px #000;
}

.form1 {
    width: 450px;
    height: 500px;
    margin: 50px;
    background: linear-gradient(45deg, aqua, rgb(184, 32, 151));
    border: 2px solid #000;
    box-shadow: 3px 3px #000;
    border-radius: 30px;
    display: inline-block;
}

form h1 {
    color: #fff;
    text-shadow: 2px 2px #000;
  }

.inputs{
    padding:5px 20px 5px 20px;
    margin: 10px;
    background: linear-gradient(45deg, #fff, gray);
    border: 1px solid #000;
    opacity: none;
    transition: box-shadow 0.5s ease;
  }
  
  .inputs:hover {
    box-shadow: 2px 2px 5px #000;
  }
  
  .labels {
    color: #fff;
  }
  
  .submit1 {
    padding: 5px 20px 5px 20px;
    background: linear-gradient(45deg, #fff, gray);
    color: #000;
    transition: color 0.5s ease;
  }
  
  .submit1:hover {
    padding: 5px 20px 5px 20px;
    color: #fff;
  }
